@model int
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        @Model
    </p>
    <form action="/Increase" method="post">
        <input type="submit" value="hit me!" />
    </form>
</body>
</html>


