<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="greet" method="post">
        <input type="text" name="name" placeholder="Enter name" />
        <input type="submit" name="name" value="Hit to greet!" />
    </form>
</body>
</html>

