@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Fox Club</title>
    <link href="~/Assets/greenfox.png" rel="icon" />
</head>
<header>
    <img src="~/Assets/greenfox.png" />
    <h1>The Fox Club</h1>
</header>
<body>
</body>
</html>

