<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Profile</title>
</head>
<body>
    <section>
        <h2>Welcome Inside!</h2>
        <a href="openaccount">Open MManager Account</a>
        <a href="logout">Log Out</a>
    </section>
</body>
</html>

