@Model
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage Account</title>
</head>
<body>
    <h2>Manage Account</h2>
    <p>Balance: </p>
    <a href="#">Load Account</a><br />
    <a href="#">Send Money</a><br />
    <a href="#">Add/Manage Cards</a>
</body>
</html>

