<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Add info</h2>
    <form action="/OpenAccount" method="post">
        <input type="number" name="balance" placeholder="Initial Balance" />
        <lablel>With Card</lablel><input type="checkbox" name="name" value="true" />
        <input type="submit" name="name" value="Open" />
    </form>
</body>
</html>

