<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Add info</h2>
    <form action="/" method="post">
        <input type="text" name="name" value="" />
        <input type="text" name="name" value="" />
        <input type="text" name="name" value="" />
        <input type="checkbox" name="name" value="" />
        <input type="submit" name="name" value="Open" />
    </form>
</body>
</html>

