<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>login</title>
</head>
<body>
    <form action="Login" method="post">
        <input type="text" name="name" value="" />
        <input type="text" name="pass" value="" />
        <input type="submit" name="name" value="login" />
        <input type="button" name="name" value="register" onclick="window.location.href='reg'"/>
    </form>
</body>
</html>

