<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="Register" method="post">
        <input type="text" name="name" value="" />
        <input type="password" name="pass" value="" />
        <input type="password" name="repass" value="" />
        <input type="submit" name="name" value="register" />
        <input type="button" name="name" value="login" onclick="window.location.href='login'"/>
    </form>
</body>
</html>

