<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="Check" method="post">
        <input type="text" name="first" placeholder="first word" />
        <input type="text" name="second" placeholder="second word" />
        <input type="submit" value="check" />
    </form>
</body>
</html>

