<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <form action="Login" method="get">
        <input type="text" name="user" value="" placeholder="User"/><br />
        <input type="text" name="pass" value="" placeholder="Pass"/><br />
        <input type="submit" name="signin" value="Sing In" />
    </form>
    <a href="/Auth/Signup">Sign Up</a>
</body>
</html>

