<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <nav>
        <a href="friends">Friends</a>
        <a href="account">Account</a>
    </nav>
</body>
</html>

